{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Система управления проектами</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Главная</a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="col-lg-3 left-menu">
        <div class="row ml-2 mb-4 mt-3 left-menu-link-bg">
            <a class="left-menu-link" href="/">Пространство</a>
        </div>
        <div class="row ml-2 mb-4 mt-4 left-menu-link-bg">
            <a class="left-menu-link" href="/current-projects">Текущие проекты</a>
        </div>
        <div class="row ml-2 mb-4 mt-3 left-menu-link-bg">
            <a class="left-menu-link" href="/current-tasks">Текущие задачи</a>
        </div>
    </div>
    <div class="col-lg-8 right-menu">
        {% block page %} {% endblock %}
    </div>
{% endblock %}