{% extends "core/core_base.html" %}
{% block page %}
    <div class="row mt-4 namespace-title-row">
        <h1 class="namespace-title">Задачи</h1>
    </div>
    <div class="row namespace-users-group">
        {% for task in tasks %}
            <div class="col-lg-3">
                <div class="project-card">
                    <div class="project-header">
                        <p class="namespace-user-name">{{ task.title }}</p>
                    </div>
                    <div class="project-creator">
                        <p class="namespace-user-name">Создатель: {{ task.creator.full_name }}</p>
                    </div>
                    <div class="project-creation-date">
                        <p class="namespace-user-name">Статус: {{ task.status }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}